.banner {
  color: white;
  object-fit: contain;
  height: 500px;
}

.banner__contents {
  margin-left: 50px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.4;
  padding-top: 1rem;
  font-size: 1.05rem;
  font-weight: 500;
  max-width: 428px;
  height: 80px;
}

.banner__buttons {
  display: flex;
  align-items: center;
}

.banner__buttonList {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 0.3vw;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 0.5rem;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__buttonPlay {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 0.3vw;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0.5rem;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.banner__buttonList:hover {
  background-color: rgba(41, 40, 40, 0.637);
  transition: all 0.2s;
}

.banner__buttonPlay:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s;
}

.banner__buttonIcon {
  margin-right: 5px;
}

.banner--fadeBottom {
  height: 11rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.67),
    #111
  );
}
